header {
  background-color: #243C58;
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 999;
}

/* Logo and slogan container */
.divNav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: 30px;
}

.divNav span {
  font-size: 14px;
}

/* Logo image */
.divNav img {
  width: 180px;
  cursor: pointer;
}

/* Buttons container */
.divButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 20px;
}

button{
  color: white;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  width: 110px;
  height: 35px;
  border-radius: 10px;
  transition: 0.3s;
  text-decoration: none;
  border: none;
}

.buttonOn {
  background: #D9B80B;
}

.buttonOff {
  background: brown;
}

/* Change button color on hover */
.divButtons button:hover {
  background-color: #357c38;
}

a {
  text-decoration: none;
  color: inherit;
}

.menuButton {
  display: none;
}

.divAvatar {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  margin-right: 30px;
}

.avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 180px;
  gap: 15px;
}

.avatarContainer p {
  color: white;
  margin-bottom: 15px;
}

.avatar {
  color: #ffffff;
  font-weight: 600;
  background-color: #9eb4bd;
  font-size: 20px;
  border: 1px solid #ffffff;
  padding: 11px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: .3s;
  position: relative;
  margin-bottom: 15px;
}

.avatar:hover {
  background-color: gray;
}

.avatar:hover+.editPeril {
  display: block;
}

.editPeril {
  position: absolute;
  right: 115px;
  top: 20px;
  display: none;
  text-align: right;
  color: black !important;
  font-weight: 600;
  padding: 6px;
  border-radius: 6px;
  background-color: gray;
  transition: .3s;
}

.green {
  background-color: #45a049;
}

.modal {
  display: none;
}


@media (max-width: 425px) {
  header {
    height:auto;
    display: flex;
    /* align-items: space-around; */
    /*  flex-direction: column; */
  }
  .divNav {
    position: relative;
    /* flex-direction: column; */
  }

  .divNav {
    display: flex;
  }
  .divNav span {
    display: none;
  }

  .divAvatar {
    align-items: flex-end;
  }
  .divButtons {
    display: none;
  }

  .avatarContainer {
    margin-right: 0;
  }

  .menuButton {
    display: block;
    margin-right: 15px;
    color: white;
    background-color: #243C58;
    border: solid white 1px;
    border-radius: 6px;
    width: 32px;
    height: 25px;
  }

  .menuButton:active {
    background-color: rgb(66, 68, 68);
  }

  .modal {
    display: block;
    width: 100%;
    height: 50px;
    position: absolute;
    background-color: #243C58;
    bottom: -50px;
    transition: .3s;
    left: 0.0000001px;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .modalContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}